@font-face {
    font-family: "zihun50hao-baigetianxingti";
    src: url("zhanku-black.eot"); /* IE9 */
    src: url("zhanku-black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("zhanku-black.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("zhanku-black.woff") format("woff"), /* chrome, firefox */
    url("zhanku-black.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("zhanku-black.svg#zihun50hao-baigetianxingti") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


